@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/lemonmilk");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", "sans-serif";
  color: "#1A1A1A";
}

.font-lemon {
  font-family: "Lemon/Milk light", sans-serif;
}
